.btn{
    border: none;
    width: auto;
    background-color: #34A0A4;
    color: white;
    padding: 10px 30px;
    border-radius: 20px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
}