.bg-image {
    height: 840px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);

  }

.bg-content{
    position: absolute;
    top: 240px;
    left: 160px;
    z-index: 99;
    color: white;
    width: 650px;
}

h1{
    font-size: 50px;

}